<h3>
    Contatos Cadastrados
</h3>

<div class="row justify-content-start">
    <div class="col-9">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Tipo</th>
                </tr>

            </thead>

            <tbody>
                <tr [ngStyle]="{'cursor': 'pointer'}" *ngFor="let item of listaDeContatos, let i = index" (click)="contatoClidado(i)">
                    <th scope="row">{{i + 1}}</th>
                    <td>{{item.nome}}</td>
                    <td>{{item.tipo}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>